<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
    <title>Document</title>
</head>
<body style="background-color: rgba(223,101,23,0.6);">
    <h1 class="bg-primary text-center">  Secret Recipes!</h1>


    <div class="bg-light border border-success container text-center rounded" style="padding: 10px;">

      <a href="{{url_for('recipeform')}}" class="btn btn-warning btn-lg">add new Recipes!</a>
      {% for i in result %}
        <div style="margin-bottom:10px; border-radius:10px; background-color: rgba(179, 131, 230, 0.6); box-shadow: 3px 3px 3px lightsalmon; text-align: center;">
          
         <h1 class="bg-info w-50" style="margin:atuo; margin-bottom: 12px; margin-top: 12px;">
          {{i.recipe_title}}
         </h1>
         <p class="bg-success w-75" style="height:200px;margin:atuo"> 
          {{i.recipe_detail}}
        </p>

          
        </div>
        {% endfor %}

    </div>
 



<!--     
      {% if val1 %}
    <h1>{{val1}}</h1> -->
     <!-- do this line only first -->

    <!-- {% else %}

    <h1>no recipes avaialbe yet</h1>

    {% endif %} -->

<!-- 
    <ul>
        {% for i in menu %}

        <li>{{i}}</li>
        {% endfor %}
    </ul> -->
</body>
</html>